<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аватар соц.сети</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <h1>Аватар соц.сети</h1>
    <div class="animal-info">
         <div>

            <h2>{{ k11 }}</h2>
            <img src="{% static k12 %}" alt="картинка" width="300px">
<h2>Имя животного:</h2>
            <p>{{ k1 }}</p>

    </div>

      <div>
            <h2>Порода:</h2>
            <p>{{ k2 }}</p>
        </div>
    <div>
            <h2>Дата рождения:</h2>
            <p>{{ k3 }}</p>
        </div>
    <div>
            <h2>Окрас основной:</h2>
            <p>{{ k4 }}</p>
        </div>
    <div>
            <h2>Окрас вторичный:</h2>
            <p>{{ k5 }}</p>
        </div>
    <div>
            <h2>Любимая еда:</h2>
            <p>{{ k6 }}</p>
        </div>
    <div>
            <h2>Почта:</h2>
            <p>{{ k7 }}</p>
        </div>
     <div>
            <h2>Класс животного:</h2>
            <p>{{ k8 }}</p>
        </div>



</div>
</body>
</html>